.content-section {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.header {
    display: grid;
    grid-template-columns: 596px  148px  597px;
    grid-template-rows: 109px;
    padding: 92px 49px 96px 51px;
    grid-template-areas: "menu-list logo contacts";
    align-items: center;
}

.header-menu-list {
    grid-area: menu-list;
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: circle;
    text-underline-offset: 5px;  
}

.header-menu-link {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-menu-item-active {
    list-style: none;
}

.header-menu-item-active .header-menu-link {
    text-decoration: none;  
}

.header-logo {
    grid-area: logo;
    display: block;
}

.header-logo-image {
    width: 148px;
    height: 105px;
}


.contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    margin-left: 355px;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; 
    text-underline-offset: 5px;
}

.cover {
    padding: 160px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:url(../images/cover.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #FFF;
    gap: 135px;
    z-index: 1;
}

.overlay {
    background-color: rgb(0 0 0 / 0.6);
    background-position: center;
    position: absolute;
    inset: 0;
    z-index: 0;
}

.cover-title {
    display: flex;
    font-size: 100px;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    gap: 20px;
    text-transform: uppercase;
    z-index: 2;
}

.aligned-text {
    line-height: 115%; 
    letter-spacing: 30px;
}

.letter-spacing{
    letter-spacing: 60px; 
}

.letter-spacing-extended {
    letter-spacing: 0;
}

.aligned-text-center {
    text-align: center;
    line-height: 100%;
    letter-spacing: 30px;
}

.aligned-text-right {
    text-align: right;
    line-height: 100%;
    letter-spacing: 30px;
}

.cover-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    gap: 81px;
}

.cover-description-text {
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 17.6px;
    text-align: right;
}

.bet-button {
    background: transparent;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 12px 32px;
    border: 1px solid #fff;  
    cursor: pointer;
}

.lots {
    padding: 180px 50px 181px;
}

.lots-heading {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
}

.lots-card-list {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 27px 0 30px;   
}

.lots-card-list-item {
    display: flex;
    flex-direction: column;
    min-width: 430px;
    min-height: 450px;
    flex-grow: 1;   
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    padding: 50px 40px;
    height: 100%;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-basis: auto;
    z-index: 1;   
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg);   
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg);   
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
}



.card-title {
    display: block;
    font-size: 22px;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    z-index: 2;
    text-transform: uppercase; 
}

.card-text {
    display:block ;
    font-size: 20px;
    z-index: 2;
}

.lots__look-more-link {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.about {
    padding: 0px 50px 180px;
}

.about-column {
    display: grid;
    grid-template-columns: 430px 910px;
    grid-template-rows: 488px;
    justify-items: center;
}

.about-logo {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-logo-image {
    width: 148px;
    height: 114px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 100px;
    padding-left: 25px;

}

.about-title {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about-text {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    gap: 25px;
}

.footer {
    padding: 0px 50px 90px;
    display: grid;
    grid-template-columns: 596px  149px  595px;
    grid-template-rows: 97px;
    grid-template-areas: "address footer-menu footer-social-list";
}

.address {
    grid-area: address;
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; 
    text-underline-offset: 5px;
}

.footer-menu {
    grid-area: footer-menu;
    display: flex;
    color: #000;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 4px;
    
}

.footer-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu-item-active .footer-menu-link {
    text-decoration: none;  
}

.footer-social-list {
    grid-area: footer-social-list;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: flex-end;
}

.footer__social-icon {
    height: 48px;
}
